
.logo {
    Display:inline-block;
    width: 20%;
    padding: 1%;
    text-align: center;
   }
  
   
.navigation {
 background-color: #98E1E1;
 }

.inline-block {
    display: inline-block;

}

.inline-block a:hover {
    background-color:rgb(244, 240, 255);
    
}
nav ul {
    width: 75%;
    margin: 0%;
    padding: 1%;
    list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 25px;
        position: sticky;
    }

.inline-block a{
    text-decoration: none;
}

.heroImg {
    
}