.nav {
    display:inline-block;
    background-color: aqua;
    vertical-align: top;
    color: blue;
}
    
.logo {
    display: inline-block;
    width: 23%;
    padding: 1%;
    text-align: center;
   }

   
.nav {
    width: 73%;
    padding: 1%
}

 ul {
    width: 100%;
    margin-left: 10px; 
     }

